.chat-side-bar {
    width              : 350px;
    // height: 90vh;
    // background-color: #bcbcbc;
    padding            : 0 15px;
    border-right       : 1px solid #e0e0e0;


    .bottom {
        height          : 100px;
        position        : absolute;
        bottom          : 0;
        left            : 175px;
        transform: translateX(-50%);
        background-color: #fff;
    }
}