.chat-preview {
    padding      : 10px 0;
    border-bottom: 1px solid #e0e0e0;

    &.current {
        background-color: #f9f9f9;
    }

    .last-msg {
        font-size: 14px;
        color    : #5a5a5a;

    }

    img {
        width           : 49px;
        height          : 49px;
        margin          : 0 10px;
        border-radius   : 45px;
        object-fit      : cover;
        background-color: #e2e2e2;
    }

    svg {
        width : 30px;
        height: 30px;
        color: white;
    }

    .group-icon {
        width              : 49px;
        height             : 49px;
        margin             : 0 10px;
        border-radius      : 40px;
        // object-fit      : cover;
        background-color   : #e2e2e2;
    }
}