.img-con {

    margin-bottom: 32px;

    .upload {
        width           : 150px;
        height          : 150px;
        margin-right    : 27px;
        border-radius   : 150px;
        background-color: #f1f1f1;
    }

    .img-label {
        // color: #828282;
        color    : #4F4F4F;
        font-size: 13px;

        &.click {
            cursor: pointer;
        }

    }

    &.group {
        flex-direction: column;
        .upload {
            width           : 200px;
            height          : 200px;
            border-radius   : 200px;
            margin-right : 0;
            margin-bottom: 15px;

        }
    }


}