.msg-preview {
    margin           : 10px 25px;
    font-size        : 14px;
    display          : flex;
    // flex-direction: column;
    flex-direction   : row-reverse;
    justify-content  : flex-end;

    .txt {
        border-radius: 5px;
        padding      : 5px 10px;
        width        : fit-content;

        &.me {
            border-radius: 5px 0px 5px 5px;
        }

        &.other {
            border-radius: 0px 5px 5px 5px;
        }
    }

    &.me {
        justify-content: flex-end;
        flex-direction : row;

    }

    .me {
        background-color: #ededed;

    }

    .other {
        background-color: #fff;
    }

    .name {
        font-size: 12.5px;
        color    : gray;
    }

    img {
        width      : 28px;
        height     : 28px;
        margin-left: 5px;
    }

    .triangle {
        width           : 0px;
        height          : 0px;
        border-style    : solid;
        background-color: transparent;

        // border-color: #FFFFFF transparent transparent transparent;
        &.me {
            border-width           : 13px 8px 0 0;
            border-color           : #ededed transparent transparent transparent;
            border-top-right-radius: 2px;
        }

        &.other {
            border-width          : 0 8px 13px 0;
            border-color          : transparent #FFFFFF transparent transparent;
            border-top-left-radius: 2px;
        }
    }

    .hour {
        color    : #6A7789;
        font-size: 11px;
    }


}