.search-bar {
    margin-right    : 10px;
    background-color: #f0f0f0;
    border-radius   : 10px;
    margin          : 10px 0;

    input {
        // width           : 100%;
        flex            : 1;
        padding         : 8px 20px;
        border          : none;
        font-size       : 14px;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    &.active {
        background-color: #dbdbdb;

        input {
            padding-left: 10px;
        }
    }



}