@font-face {
    font-family: noto-sans-700;
    src: url(../../fonts/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
    font-family: noto-sans-600;
    src: url(../../fonts/Noto_Sans/NotoSans-SemiBold.ttf);
}

@font-face {
    font-family: noto-sans-500;
    src: url(../../fonts/Noto_Sans/NotoSans-Medium.ttf);
}

@font-face {
    font-family: noto-sans-400;
    src: url(../../fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: noto-sans-300;
    src: url(../../fonts/Noto_Sans/NotoSans-Light.ttf);
}
